html, body {
      height: 100% !important;
    }
    .wrapper {
      display: flex !important;
      flex-direction: column !important;
      min-height: 100% !important;
    }
    .content {
      flex: 1 !important;
    }
    .footer {
      background-color: #f8f9fa !important; /* Цвет фона футера */
      padding: 20px 0 !important;
    }